.productsShow-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}


.productsShow {
    width: 100%;
    max-width: 1660px;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

}

.banner{
    margin-top: 5.3rem;
    width: 100%;
    border: 2px solid #fff;
}
.banner img{
    width: 100%;
}

.sort-by{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    height: 80px;
    width: 100%;
    border: 2px solid #fff;

}
.sort-by p{
    margin-left: 20px;
    color: rgb(67, 69, 71);

}

.sort-by p span{
    color: black;
}
.sort-by select{
    margin-right: 20px;
    
    border-radius: 15px;
    height: 40px;
    width: 80px;
    font-size: 15px;
}
.prducts{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 1rem;

}