header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    position: fixed;
    top: 10px;
}

.navbar {
    
    /* https://hype4.academy/tools/glassmorphism-generator */

    width: 99%;
    max-width: 1700px;
    background: rgb(8, 5, 30, 0.87);
    box-shadow: 0 8px 32px 0 rgb(8, 5, 30, 0.89);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    border: 1px solid gray
}

.logo {
    color: #fff;
    /* margin-left: 30px; */
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-between;
    color: #fff;
}

hr {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    height: 3px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;

}

.login-sign-up {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
 
    height: 2.5rem;
    margin-right: 30px;
    border-radius: 5px;
 
}

.login {
    height: 30px;
    font-size: 18px;
    width: 70px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;


}

.cart {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background-color: #fff;
    border-radius: 5px;
    /* padding-top: 10px; */
    position: relative;


}

.cart img {
    height: 65%;
}

.cart h1 {
    color: #fff;
}

.login:hover {
    background-color: #223e6f;
}

.countItem {
    position: absolute;
    top: -13px;
    left: 37%;
    padding: 1px;
    border: 1px solid #fff;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 220, 61);
    border-radius: 50%;

}

.sign-up {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: rgb(44, 38, 92);
    height: 100%;
    color: #fff;
    cursor: pointer;
    transition: 0.1s ease-in;
    font-size: 20px;
    font-weight: 600;

}

.sign-up:hover {
    background-color: #091934;
}
