.aboutSection {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}


.about {
    width: 100%;
    max-width: 1660px;
    background: linear-gradient(rgb(68, 57, 160),rgb(148, 148, 211),rgb(90, 93, 137) );

    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

}

.helloAbout h1{
    font-size: 70px;
}
